class <%= param(:name).singular.camelcase %>
  include DataMapper::Resource

<% 
for column in migration_columns
-%>
  property :<%= column.column_name %>, <%= column.column_type.camelcase %>
<%
end
-%>
end