require File.join(File.dirname(__FILE__), "..", "spec_helper.rb")

describe "<%= param(:name).singular.camelcase %>" do

  it "should list <%= param(:name).plural %> do
    get <%= param(:name).plural %>_index_url
    assert_response(:success)
  end
  
  it "should create user" do
  
  end
  
end